# Python
**/*venv/
**/*__pycache__/
*.pyc
build/
dist/
*.egg-info/
*.log

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS-specific
.DS_Store
Thumbs.db

# Ansible
ansible_project/inventory.ini
ansible_project/known_hosts.txt
ansible_project/vars/secrets.yml

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# K3s
k3s/k3s.yaml

# Other
*sync-conflict*
.devcontainer/
.gemini/
*.zsh