[k3s_master]
${droplets[0].ipv4_address} ansible_user=root

[k3s_workers]
%{ for i, droplet in droplets ~}
%{ if i > 0 ~}
${droplet.ipv4_address} ansible_user=root
%{ endif ~}
%{ endfor ~}

[all:vars]
ansible_ssh_common_args='-o StrictHostKeyChecking=no'
